@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gugi&family=Jua&display=swap');
/*커스터마이징*/

/**/
body {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #FAF1E6;
    /*전반적인 배경색*/
}
.f-box{
    background-color: #FEFCF3;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top:10px;
    width:600px;
    height: 100px;
    padding: 30px;
    font-size:60px;
    border-radius:15px;
    color:rgb(0, 0, 0);
}
.final-box{
    background-color: #FEFCF3;
    display: flex;
    align-items:start;
    justify-content: center;
    margin-top:10px;
    width:600px;
    height: 70%;
    padding: 30px;
    font-size:40px;
    border-radius:15px;
    white-space: pre-line;
    color:rgb(139, 80, 54);
}
#f-button {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s, transform 0.5s; /* 애니메이션 지속 시간 설정 */
    visibility: hidden;  /* visibility 속성을 사용하여 요소를 숨깁니다. */
}
#f-button.show {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}
#final-points {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.5s, transform 0.5s; /* 애니메이션 지속 시간 설정 */
    visibility: hidden;  /* visibility 속성을 사용하여 요소를 숨깁니다. */
}

/* 뿅하고 나타나는 애니메이션 */
#final-points.show {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}
.teacher-box{
    border: 2px solid #DBA39A;
    background-color: #FEFCF3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    width:400px;
    height: 100px;
    padding: 30px;
    font-size:30px;
    color :#000000;
    border-radius:15px;
}
.form-flex {
    margin-top: 200px ; 
    display:flex;
    align-items: center;
    justify-content: center;
}
.form-input {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-button {
    margin-left:20px;
}
.user-box{
    background-color: #FEFCF3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    width:500px;
    height: 40px;
    padding: 10px;
    font-size:30px;
    border-radius:15px;
    color:rgb(0, 0, 0);
}
.user-box-in{
    margin-left:20px;
}
.user-box-out{
    margin-right:20px;
}
.open-box {
    width: 60%;
    padding-top:30px;
    height: auto;
    border: 2px solid #DBA39A;
    background-color: #FEFCF3;
    border-radius: 10px;
    font-size:30px;
}

.btn {
    margin: auto;
    font-size: 40px;
    background-color: #DBA39A;
    border-radius: 8px;
}

.btn:hover {
    background-color: #db988e;
}

body>* {
    margin: 0px auto;
    font: "Gugi";
}

.center {
    display: flex;
    flex-direction: column;
}

.center>* {
    margin: 0px auto;
}
@keyframes goldAndScaleAnimation {
    0%, 100% {
        transform: scale(1);
        background: none;
        color: inherit;
    }
    50% {
        transform: scale(1);
        background: linear-gradient(45deg, #FFD700, #FFCC52, #FFD700); 
        color: transparent;  
        -webkit-background-clip: text; 
        background-clip: text;
    }
}

.gold-and-scale-text-animation {
    animation: goldAndScaleAnimation 0.5s;
}

/*아이디*/
@keyframes popIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.pop-in {
    animation: popIn 0.5s forwards;
}
@keyframes heartDecreaseAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(0.7); }
    100% { transform: scale(1); }
}

.animatedHeart {
    animation: heartDecreaseAnimation 0.4s forwards;
}
/*애니메이션과 폰트들*/
.fadeInUpText {
    animation: fadeInUp 0.5s forwards;
    /* 0.5초 동안 애니메이션을 실행 */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.celebrate {
    animation: celebrationAnimation 1s;
}

@keyframes celebrationAnimation {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.ani-zoom {
    animation: zoomIn 0.3s forwards;
    animation-delay: 0s;
    /* 딜레이 없음 */
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.ani-left {
    position: relative;
    animation: fadeInLeft 1s;
}

.Dongle {
    font-family: 'Dongle', sans-serif;
}

.Gugi {
    font-family: 'Gugi', sans-serif;
}

.Jua {
    font-family: 'Jua', sans-serif;
}